<!--<p id="notice"><%= notice %></p>-->

<!--<p>-->
  <!--<strong>Name:</strong>-->
  <!--<%= @user.name %>-->
<!--</p>-->

<!--<p>-->
  <!--<strong>Email:</strong>-->
  <!--<%= @user.email %>-->
<!--</p>-->
<%= @user.name %>, <%= @user.email %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
