<%= form_for(@main_page_item) do |f| %>
  <% if @main_page_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@main_page_item.errors.count, "error") %> prohibited this main_page_item from being saved:</h2>

      <ul>
      <% @main_page_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
