<p id="notice"><%= notice %></p>

<h1>Listing Main Page Items</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @main_page_items.each do |main_page_item| %>
      <tr>
        <td><%= main_page_item.title %></td>
        <td><%= main_page_item.description %></td>
        <td><%= link_to 'Show', main_page_item %></td>
        <td><%= link_to 'Edit', edit_main_page_item_path(main_page_item) %></td>
        <td><%= link_to 'Destroy', main_page_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Main page item', new_main_page_item_path %>
