<p id="notice"><%= notice %></p>
<p>
  <strong>Title:</strong>
  <%= @main_page_item.title %>
</p>

<p>
  <strong>description:</strong>
  <%= @main_page_item.description %>
</p>

<%= link_to 'Edit', edit_main_page_item_path(@main_page_item) %> |
<%= link_to 'Back', main_page_items_path %>
