@import "bootstrap";

@mixin box-sizing {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.debug-dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box-sizing;
}

.container.content {
  padding-top: 50px;
  background-color: #ffffff;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 10px white;
}

body {
  background-color: #EFEFEF;
}
