<header class="navbar navbar-fixed-top">
  <div class="container">
    <!--<%= link_to "Sampale app", "#", cl: :logo %>-->
    <nav>
      <ul class="nav navbar-nav">
        <li><%= link_to 'Home', home_path %></li>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Help', help_path %></li>
        <li><%= link_to 'Signup', signup_path %></li>
      </ul>
    </nav>
  </div>
</header>