<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="container content">
  <%= yield %>
  <%= render 'layouts/footer' %>
  <div class="debug-dump">
    <%= debug(params) if Rails.env.development? %>
  </div>
</div>

</body>
</html>
